/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 230; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*========== Variables Dark theme ==========*/
body.dark-theme{
  --first-color-second: hsl(var(--hue-color), 30%, 8%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --body-color: hsl(var(--hue-color), 28%, 12%);
  --container-color: hsl(var(--hue-color), 29%, 16%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);

}

/*========== Button Dark/Light ==========*/
.nav__btns{
  display: flex;
  align-items: center;
}

.change-theme {
  font-size: 1.25rem;
  color: var(--title-color);
  margin-right: var(--mb-1);
  cursor: pointer;
}

.change-theme:hover{
  color: var(--first-color);
}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title, 
.section__subtitle {
  text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/*==================== NAV ====================*/
.nav{
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav_toggle{
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__logo:hover{
  color: var(--first-color);
}

.nav__toggle{
  font-size: 1.1rem;
  cursor: pointer;
}

.nav_toggle:hover{
  color: var(--first-color);
}

@media screen and (max-width:767px) {
  .nav__menu{
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0,0,0,.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: .3s;
  }
  
}

.nav__list{
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav__link{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__link:hover{
  color: var(--first-color);
}

.nav__icon{
  font-size: 1.2rem;
}

.nav__close{
  position: absolute;
  right: 1.3rem;
  bottom: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--first-color);
}

.nav__close:hover{
  color: var(--first-color-alt);
}
/* show menu */
.show-menu{
  bottom: 0;
}

/* Active link */
.active-link{
  color: var(--first-color);
}

/* Change background header */
.scroll-header{
  box-shadow: 0 -1px 4px rgba(0,0,0,.15);
}

/*==================== HOME ====================*/
.home__container{
  gap: 1rem;
}

.home__content{
  grid-template-columns: .5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}

.home__social{
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home__social-icon{
  font-size: 1.25rem;
  color: var(--first-color);
}

.home__social-icon:hover{
  color: var(--first-color-alt);
}

.home__blob{
  width: 200px;
  fill: var(--first-color)
}

.home__blob-img{
  width: 190px;
}

.home__data{
  grid-column: 1/3;
}

.home__title{
  font-size: var(--big-font-size);
}

.home__subtitle{
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-75);
}

.home__description{
  margin-bottom: var(--mb-2);
}

.home__scroll{
  display: none;
}

.home__scroll-button{
  color: var(--first-color);
  transition: 0.3s;
}

.home__scroll-button:hover{
  transform: translateY(0.25rem);
}

.home__scroll-mouse{
  font-size: 2rem;
}

.home__scroll-name{
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
}

.home__scroll-arrow{
  font-size: 1.25rem;
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

/*==================== BUTTONS ====================*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
}

.button:hover{
  background-color: var(--first-color-alt);
}

.button__icon{
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: 0.3s;
}

.button--flex{
  display: inline-flex;
  align-items: center;
}

.button--small{
  padding: 0.75rem 1rem;
}

.button--link{
  padding: 0;
  background-color: transparent;
  color: var(--first-color);
}

.button--link:hover{
  background-color: transparent;
  color: var(--first-color-alt);
}

/*==================== ABOUT ====================*/
.about__img{
  width: 200px;
  border-radius: 0.5rem;
  justify-self: center;
  align-self: center;
}

.about__description{
  text-align: center;
  margin-bottom: var(--mb-2-5);
}

.about__info{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2-5);
}

.about__info-title{
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);

}

.about__info-name{
  font-size: var(--smaller-font-size);
}

.about_info-title,
.about_info-name{
  display: block;
  text-align: center;
}

.about__buttons{
  display: flex;
  justify-content: center;
}


/*==================== WORK ====================*/
.work__data{
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

.work__title{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.work__subtitle{
  display: inline-block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
}

.work__calendar{
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

.work__rounder{
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--first-color);
  border-radius: 50%;
}

.work__line{
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--first-color);
  transform: translate(6px, -7px);
}

.work [data-content]{
  display: none;
}


/*==================== education ====================*/
.education__container{
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.education__content{
  position: relative;
  background-color: var(--container-color);
  padding: 3.5rem 0.5rem 1.25rem 1.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}

.education__content:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.education__icon{
  display: block;
  font-size: 1.5rem;
  color: var(--first-color);
  margin-bottom: var(--mb-1);
}

.education__title{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-25);
  font-weight: var(--font-medium);
}

.education__subtitle{
  font-size: var(--h4-font-size);
  font-weight: var(--font-medium);
}

.education__years{
  font-size: var(--h4-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
}

.education__button{
  cursor: pointer;
  font-size: var(--small-font-size);
}

.education__button:hover
.button__icon{
  transform: translateX(0.25rem);
}

.education__modal{
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  z-index: var(--z-modal);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.education__modal-content{
  position: relative;
  background-color: var(--container-color);
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.education__modal-education{
  row-gap: 1rem;
}

.education__modal-service{
  display: flex;
}

.education__modal-title{
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1-5);
}

.education__modal-close{
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--first-color);
  cursor: pointer;
}

.education__modal-icon{
  color: var(--first-color);
  margin-right: var(--mb-0-25);
}

/* Active Modal */
.active-modal{
  opacity: 1;
  visibility: visible;
}


/*==================== CONTACT ME ====================*/
.contact_container{
  row-gap: 3rem;
}

.contact__information{
  display: flex;
  margin-bottom: var(--mb-2);
}

.contact__icon{
  font-size: 2rem;
  color:var(--first-color);
  margin-bottom: var(--mb-0-75);
  margin-right: 10px;
}

.contact__title{
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.contact__subtitle{
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.contact__content{
  background-color: var(--input-color);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem 0.25rem;
}

.contact__label{
  font-size: var(--smaller-font-size);
  color: var(--title-color);
}

.contact__input{
  width: 100%;
  background-color: var(--input-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
  padding: 0.25rem 0.5rem 0.5rem 0
}

/*==================== FOOTER ====================*/
.footer{
  padding-top: 2rem;
}

.footer__container{
  row-gap: 1rem;
}

.footer__bg{
  background-color: var(--first-color-second);
  padding: 2rem 0 2rem;
}

.footer__title{
  font-size: var(--h1-font-size);
}

.footer__subtitle{
  font-size: var(--small-font-size);
}

.footer__links{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.footer__link:hover{
  color: var(--first-color-lighter);
}

.footer__social{
  font-size: 1.25rem;
  margin-right: var(--mb-1-5);
}

.footer__social:hover{
  color: var(--first-color-lighter);
}

.footer__copy{
  font-size: var(--smaller-font-size);
  text-align: center;
  color: lightgrey;
  margin-top: var(--mb-2);
}

.footer__title,
.footer__subtitle,
.footer_links,
.footer__social{
  color:#fff;
}

/*========== SCROLL UP ==========*/
.scrollup{
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: var(--first-color);
  opacity: 0.8;
  padding: 0 0.3rem;
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
}
.scrollup:hover{
  background-color: var(--first-color-alt);
}

.scrollup__icon{
  font-size: 1.5rem;
  color: #fff;
}

/* Show scroll */
.show-scroll{
  bottom: 5rem;
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar{
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb{
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover{
  background-color: var(--text-color-light);
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 350px) {
  .container{
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .nav__menu{
    padding: 2rem 0.25rem 4rem;
  }
  .nav__list{
    column-gap: 0;
  }

  .home__content{
    grid-template-columns: 0.25fr 3fr;
  }
  .home__blob{
    width: 180px;
  }

  .work__data{
    gap: 0.5rem;
  }

  .education__container{
    grid-template-columns: max-content;
    justify-content: center;
  }
  .education__content{
    padding-right: 3.5rem;
  }
  .education__modal{
    padding: 0 0.5rem;
  }


}

/* For medium devices */
@media screen and (min-width: 568px) {
  .home__content{
    grid-template-columns: max-content 1fr 1fr;
  }
  .home__data{
    grid-column: initial;
  }
  .home__img{
    order: 1;
    justify-self: center;
  }
  .about__container,
  .contact__container{
    grid-template-columns: repeat(2, 1fr);
  }

  .work__sections{
    display: grid;
    grid-template-columns: 0.6fr;
    justify-content: center;

  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
  
}

@media screen and (min-width: 768px) {
  .container{
    margin-left: auto;
    margin-right: auto;
  }

  body{
    margin: 0;
  }

  .section{
    padding: 6rem 0 2rem;
  }
  .section__subtitle{
    margin-bottom: 4rem;
  }

  .header{
    top: 0;
    bottom: initial;
  }

  .header,
  .main,
  .footer__container{
    padding: 0 1rem;
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 1rem;
  }
  .nav__icon,
  .nav__close,
  .nav__toggle{
    display: none;
  }
  .nav__list{
    display: flex;
    column-gap: 2rem;
  }
  .nav__menu{
    margin-left: auto;
  }
  .change-theme{
    margin: 0;
  }

  .home__container{
    row-gap: 5rem;
  }
  .home__content{
    padding-top: 5.5rem;
    column-gap: 2rem;
  }
  .home__blob{
    width: 270px;
  }
  .home__scroll{
    display: block;
  }

  .home__scroll-button{
    margin-left: 3rem;
  }

  .about__container{
    column-gap: 5rem;
  }

  .about__img{
    width: 350px;
  }
  .about__description{
    text-align: initial;
  }

  .about__info{
    justify-content: space-between;
  }

  .about__buttons{
    justify-content: initial;
    margin: 0 auto;
    display: block;
    
  }

  .education__container{
    justify-content: center;
  }
  .education__icon{
    font-size: 2rem;
  }
  .education__content{
    padding: 6rem 0 2rem 2.5rem;
  }
  .education__modal-content{
    width: 600px;
  }

  .footer__links {
    flex-direction: row;
    column-gap: 2rem;
  }

  .footer__socials{
    justify-self: flex-end;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .header,
  .main,
  .footer__container {
    padding: 0;
  }

  .home__blob{
    width: 320px;
  }
  .home__social{
    transform: translateX(-6rem);
  }
  
  .education__container{
    grid-template-columns: repeat(2, 350px);
  }
}